USE [master]
GO
/****** Object:  Database [Desarro]    Script Date: 14/11/2021 15:50:03 a. m. ******/
CREATE DATABASE [Desarro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesarroExamen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Desarro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Desarro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Desarro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesarroExamen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Desarro]
GO
/****** Object:  Table [dbo].[catedratico]    Script Date: 14/11/2021 15:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catedratico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDOS] [varchar](50) NULL,
	[DPI] [varchar](50) NULL,
	[ACTIVO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 14/11/2021 15:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEDRATICO] [int] NULL,
	[NOMBRE] [varchar](50) NULL,
	[APROVADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[catedratico] ON 

INSERT [dbo].[catedratico] ([ID], [NOMBRE], [APELLIDOS], [DPI], [ACTIVO]) VALUES (1, N'JORGE', N'ROSALES CANO', N'21337', N'ACTIVO')
INSERT [dbo].[catedratico] ([ID], [NOMBRE], [APELLIDOS], [DPI], [ACTIVO]) VALUES (2, N'MELANY', N'PEREZ SAMAYOA', N'21448', N'ACTIVO')
INSERT [dbo].[catedratico] ([ID], [NOMBRE], [APELLIDOS], [DPI], [ACTIVO]) VALUES (3, N'KATHERIN', N'CASTILLO LEMUS', N'21559', N'ACTIVO')
SET IDENTITY_INSERT [dbo].[catedratico] OFF
GO
SET IDENTITY_INSERT [dbo].[CURSO] ON 

INSERT [dbo].[CURSO] ([ID], [ID_CATEDRATICO], [NOMBRE], [APROVADO]) VALUES (1, 1, N'ARQUITECTURA', N'S')
INSERT [dbo].[CURSO] ([ID], [ID_CATEDRATICO], [NOMBRE], [APROVADO]) VALUES (2, 2, N'FILOSOFIA', N'S')
INSERT [dbo].[CURSO] ([ID], [ID_CATEDRATICO], [NOMBRE], [APROVADO]) VALUES (3, 3, N'SEGURIDAD', N'N')
SET IDENTITY_INSERT [dbo].[CURSO] OFF
GO
ALTER TABLE [dbo].[CURSO]  WITH CHECK ADD  CONSTRAINT [FK_CURSO_catedratico] FOREIGN KEY([ID_CATEDRATICO])
REFERENCES [dbo].[catedratico] ([ID])
GO
ALTER TABLE [dbo].[CURSO] CHECK CONSTRAINT [FK_CURSO_catedratico]
GO
/****** Object:  StoredProcedure [dbo].[P_CATEDRATICO]    Script Date: 14/11/2021 15:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CATEDRATICO]
@ID INT,
@NOMBRE VARCHAR(50),
@APELLIDOS VARCHAR(50),
@DPI VARCHAR(50),
@ACTIVO VARCHAR(50),
@OPTIONS VARCHAR(100)
AS
BEGIN
	IF (@OPTIONS='Insert')
	BEGIN
		INSERT INTO catedratico VALUES(
		@NOMBRE,@APELLIDOS,@DPI,@ACTIVO)
	END
	IF (@OPTIONS='Update')
	BEGIN
		UPDATE catedratico SET NOMBRE=@NOMBRE, APELLIDOS=@APELLIDOS,DPI=@DPI,
		ACTIVO=@ACTIVO
		WHERE ID=@ID
	END
	IF (@OPTIONS='Delete')
	BEGIN
		DELETE FROM catedratico WHERE ID=@ID	
	END
	IF (@OPTIONS='GetId')
	BEGIN
		SELECT * FROM catedratico WHERE ID=@ID 
	END
	SELECT * FROM catedratico
END
GO
/****** Object:  StoredProcedure [dbo].[P_CURSO]    Script Date: 14/11/2021 15:50:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_CURSO]
@ID INT,
@ID_CATEDRATICO INT,
@NOMBRE VARCHAR(50),
@APROVADO VARCHAR(50),
@OPTIONS VARCHAR(100)
AS
BEGIN
	IF (@OPTIONS='Insert')
	BEGIN
		INSERT INTO CURSO VALUES(
		@ID_CATEDRATICO,@NOMBRE,@APROVADO)
	END
	IF (@OPTIONS='Update')
	BEGIN
		UPDATE CURSO SET ID_CATEDRATICO=@ID_CATEDRATICO, NOMBRE=@NOMBRE,APROVADO=@APROVADO
		
		WHERE ID=@ID
	END
	IF (@OPTIONS='Delete')
	BEGIN
		DELETE FROM CURSO WHERE ID=@ID	
	END
	IF (@OPTIONS='GetId')
	BEGIN
		SELECT * FROM CURSO WHERE ID=@ID 
	END
	SELECT * FROM CURSO
END
GO
USE [master]
GO
